<div class="row blog hidden">
    <div class="col-md-12 col-sm-12">
        <hr>
        <p>Help from our Community </p>
        <hr>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="sm-header">
            <span class="pull-right fa fa-signal"></span>

            <p class="">Latest Guide</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="#"><img
                        src="http://5440fb591.money-resources.co.uk/images/avatar/50/d39c9b1c981c568b35ddecd3.gif?v=2252"></a>
            </div>
            <div class="col-md-8 col-sm-8">
                <a>5 Graduate Careers That Will Earn You Most Money After Uni</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="#"><img
                        src="http://5440fb591.money-resources.co.uk/images/avatar/50/d39c9b1c981c568b35ddecd3.gif?v=2252"></a>
            </div>
            <div class="col-md-8 col-sm-8">
                <a>5 Graduate Careers That Will Earn You Most Money After Uni</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="#"><img
                        src="http://5440fb591.money-resources.co.uk/images/avatar/50/d39c9b1c981c568b35ddecd3.gif?v=2252"></a>
            </div>
            <div class="col-md-8 col-sm-8">
                <a>5 Graduate Careers That Will Earn You Most Money After Uni</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="sm-header">
            <span class="pull-right fa fa-gift"></span>

            <p class="">Latest Deals</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="#"><img
                        src="http://5440fb593.money-resources.co.uk/images/avatar/50/a292d707f98f2963207.gif"></a>
            </div>
            <div class="col-md-8 col-sm-8">
                <a>5 Graduate Careers That Will Earn You Most Money After Uni</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="#"><img
                        src="http://5440fb593.money-resources.co.uk/images/avatar/50/a292d707f98f2963207.gif"></a>
            </div>
            <div class="col-md-8 col-sm-8">
                <a>Comparison made easy so you can find the best deals.</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="#"><img
                        src="http://5440fb593.money-resources.co.uk/images/avatar/50/a292d707f98f2963207.gif"></a>
            </div>
            <div class="col-md-8 col-sm-8">
                <a>5 Graduate Careers That Will Earn You Most Money After Uni</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="sm-header">
            <span class="pull-right fa fa-question"></span>

            <p class="">FAQ's</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="#"><img
                        src="http://5440fb591.money-resources.co.uk/images/avatar/50/d39c9b1c981c568b35ddecd3.gif?v=2252"></a>
            </div>
            <div class="col-md-8 col-sm-8">
                <a>5 Graduate Careers That Will Earn You Most Money After Uni</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="#"><img
                        src="http://5440fb592.money-resources.co.uk/images/avatar/50/de07cb3b3f510887689af.gif"></a>
            </div>
            <div class="col-md-8 col-sm-8">
                <a>5 Graduate Careers That Will Earn You Most Money After Uni</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="#"><img
                        src="http://5440fb592.money-resources.co.uk/images/avatar/50/de07cb3b3f510887689af.gif"></a>
            </div>
            <div class="col-md-8 col-sm-8">
                <a>5 Graduate Careers That Will Earn You Most Money After Uni</a>
            </div>
        </div>
    </div>
</div>

<section class="hidden">
    <div class="row Offers side-collapse-container">
        <div class="col-md-12 col-sm-12">
            <div class="md-header">
                <span class="pull-right fa fa-tags"></span>
                <p class="lead">Latest Offers</p>
            </div>
        </div>
        <!-- /#myCarousel -->
        <div class="col-md-12">
            <div class="carousel slide" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="thumbnails">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="../images/advert_2.jpg" alt=""></a>
                                </div>
                                <!--<div class="caption">-->
                                <!--<a class="btn btn-mini" href="#">&raquo; Read More</a>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="../images/advert_1.jpg" alt=""></a>
                                </div>
                                <!--<div class="caption">-->
                                <!--<a class="btn btn-mini" href="#">&raquo; Read More</a>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="../images/advert_2.jpg" alt=""></a>
                                </div>
                                <!--<div class="caption">-->

                                <!--<a class="btn btn-mini" href="#">&raquo; Read More</a>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="../images/advert_1.jpg" alt=""></a>
                                </div>
                                <!--<div class="caption">-->
                                <!--<a class="btn btn-mini" href="#">&raquo; Read More</a>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <!-- /Slide1 -->
                    <div class="item ">
                        <div class="thumbnails">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="../images/advert_2.jpg" alt=""></a>
                                </div>
                                <!--<div class="caption">-->
                                <!--<a class="btn btn-mini" href="#">&raquo; Read More</a>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="../images/advert_1.jpg" alt=""></a>
                                </div>
                                <!--<div class="caption">-->
                                <!--<a class="btn btn-mini" href="#">&raquo; Read More</a>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="../images/advert_2.jpg" alt=""></a>
                                </div>
                                <!--<div class="caption">-->

                                <!--<a class="btn btn-mini" href="#">&raquo; Read More</a>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="../images/advert_1.jpg" alt=""></a>
                                </div>
                                <!--<div class="caption">-->
                                <!--<a class="btn btn-mini" href="#">&raquo; Read More</a>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <!-- /Slide2 -->
                    <div class="item ">
                        <div class="thumbnails">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="../images/advert_2.jpg" alt=""></a>
                                </div>
                                <!--<div class="caption">-->
                                <!--<a class="btn btn-mini" href="#">&raquo; Read More</a>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="../images/advert_1.jpg" alt=""></a>
                                </div>
                                <!--<div class="caption">-->
                                <!--<a class="btn btn-mini" href="#">&raquo; Read More</a>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="../images/advert_2.jpg" alt=""></a>
                                </div>
                                <!--<div class="caption">-->

                                <!--<a class="btn btn-mini" href="#">&raquo; Read More</a>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="../images/advert_1.jpg" alt=""></a>
                                </div>
                                <!--<div class="caption">-->
                                <!--<a class="btn btn-mini" href="#">&raquo; Read More</a>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <!-- /Slide3 -->
                </div>
                <div class="row">
                    <div class="control-box col-md-12">
                        <a data-slide="prev" href="#myCarousel" class="carousel-control left pull-left text-right">‹</a>
                        <a data-slide="next" href="#myCarousel" class="carousel-control right pull-right text-left">›</a>
                    </div>
                </div>
                <!-- /.control-box -->
            </div>
        </div>
    </div>
</section>
