<section>
    <div class="row">
        <div class="col-md-12 logo">
            <div class="pull-left hidden-xs hidden-sm"><a href=/index.html> <img
                    src="/images/quiddi-compare-logo.gif"></a></div>
        </div>
    </div>
</section>
<header role="banner" class="navbar navbar-default navbar-inverse side-collapse-container">
    <div class="header-wrapper hidden-sm">
    <div class="navbar-header side-collapse-container">
        <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container"
                type="button" class="navbar-toggle pull-left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-lg hidden-md " href="/index.html">
            Quiddi<!--<small>&#153;</small>-->Compare
        </a>

        <a href="https://twitter.com/QuiddiCompare" class="navbar-brand hidden-lg hidden-md  fa fa-twitter-square" target="_blank"></a>

        <a href="https://www.facebook.com/quiddicompare?refsrc=http%3A%2F%2Fwww.google.co.uk%2F" class="navbar-brand hidden-lg hidden-md  fa fa-facebook-square" target="_blank"></a>

        <a href=" https://www.youtube.com/channel/UCFiHkzb5OLuxQcYEzLoamtg" class="navbar-brand hidden-lg hidden-md  fa fa-youtube-square" target="_blank"></a>

        <a href="https://plus.google.com/112701833180299588644/posts" class="navbar-brand hidden-lg hidden-md  fa fa-google-plus-square" target="_blank"></a>

    </div>
    </div>
    <div class="navbar-inverse side-collapse in">

        <nav role="navigation" class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="//paydayloans.quiddicompare.co.uk">Short-term Loans</a></li>
                <li class="active"><a href="/long-term-loans.html">Long-term Loans</a></li>
                <li class="active"><a href="/guarantor-loans.html">Guarantor Loans</a></li>
                <li class="active"><a href="/logbook-loans.html">Logbook Loans</a></li>
                <li class="active"><a href="/credit-checks.html">Credit Cards</a></li>
                <li class="active"><a href="/savings-accounts.html">Bank Accounts</a></li>
            </ul>
        </nav>
    </div>
</header>