<!—- Google Analytics Script -->
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-27686131-1']);
_gaq.push(['_setDomainName', 'quiddicompare.co.uk']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


<!—Google Retargeting Script -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1001592710;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1001592710/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<!-- SessionCam Client Integration v6.0 -->
<script type="text/javascript">
    //<![CDATA[
    var scRec=document.createElement('SCRIPT');
    scRec.type='text/javascript';
    scRec.src="//d2oh4tlt9mrke9.cloudfront.net/Record/js/sessioncam.recorder.js";
    document.getElementsByTagName('head')[0].appendChild(scRec);
    //]]>
</script>
<!-- End SessionCam -->
