<section>
    <div class="row">
        <div class="col-md-12 logo">
            <div class="pull-left visible-md visible-lg"><a href=/index.html> <img
                    src="/images/quiddi-compare-logo.gif"></a></div>
        </div>
    </div>
</section>
<header role="banner" class="navbar navbar-default navbar-inverse side-collapse-container">
    <div class="header-wrapper">
    <div class="navbar-header side-collapse-container">
        <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container"
                type="button" class="navbar-toggle pull-left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-lg hidden-md brand-logo" href="/index.html">
            Quiddi<!--<small>&#153;</small>-->Compare
        </a>

        <a href="https://twitter.com/QuiddiCompare" class="navbar-brand hidden-lg hidden-md  fa fa-twitter-square" target="_blank"></a>

        <a href="https://www.facebook.com/quiddicompare?refsrc=http%3A%2F%2Fwww.google.co.uk%2F" class="navbar-brand hidden-lg hidden-md  fa fa-facebook-square" target="_blank"></a>

        <a href=" https://www.youtube.com/channel/UCFiHkzb5OLuxQcYEzLoamtg" class="navbar-brand hidden-lg hidden-md  fa fa-youtube-square" target="_blank"></a>

        <a href="https://plus.google.com/112701833180299588644/posts" class="navbar-brand hidden-lg hidden-md  fa fa-google-plus-square" target="_blank"></a>

    </div>
    </div>
    <div class="navbar-inverse side-collapse in">

        <nav role="navigation" class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/index.html">Home</a></li>
                <li class="dropdown">
                    <a href="blank" class="dropdown-toggle" data-toggle="dropdown">Loans <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li><a href="/payday-loans.html">Payday loans</a></li>-->
                        <li><a href="//paydayloans.quiddicompare.co.uk">Payday loans</a></li>
                        <li><a href="/long-term-loans.html">Long term loans</a></li>
                        <li><a href="/logbook-loans.html">Logbook loans</a></li>
                        <li><a href="/guarantor-loans.html">Guarantor loans</a></li>
                        <li><a href="/peer-to-peer-lending.html">Peer to Peer loans</a></li>
                        <li><a href="/credit-checks.html">Credit checks</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="blank"  class="dropdown-toggle" data-toggle="dropdown">Credit Cards<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/all-cards.html">All Cards</a></li>
                        <li><a href="/prepaid-cards.html">Prepaid Cards</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="blank"  class="dropdown-toggle" data-toggle="dropdown">Bank Accounts<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/savings-accounts.html">Savings</a></li>
                        <li><a href="/current-accounts.html">Current</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="blank" class="dropdown-toggle" data-toggle="dropdown">Mortgages<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/mortgages/buy-to-let-mortgage.html">Buy to Let</a></li>
                        <li><a href="/mortgages/buy-to-let-remortgage.html">Buy to Let Remortgages</a></li>
                        <li><a href="/mortgages/first-time-buyer-mortgage.html">First Time Buyer</a></li>
                        <li><a href="/mortgage.html">New Home</a></li>
                        <li><a href="/mortgages/remortgage-deals.html">Remortgage</a></li>
                        <li><a href="/mortgages/second-charge-mortgage.html">Second Charge Mortgage</a></li>
                    </ul>
                </li>
                <li class="active"><a href="/blog/">Blog</a></li>
                <li class="active"><a href="/about-us.html">About Us</a></li>
                <li class="active"><a href="/contact.html">Contact Us</a></li>
            </ul>
            <div class="navbar-right hidden-md">
            <a href="https://twitter.com/QuiddiCompare" target="_blank"><p class="fa fa-twitter-square"></p></a>

            <a href="https://www.facebook.com/quiddicompare?refsrc=http%3A%2F%2Fwww.google.co.uk%2F" target="_blank"> <p class="fa fa-facebook-square"></p></a>

            <a href="https://www.youtube.com/channel/UCFiHkzb5OLuxQcYEzLoamtg" target="_blank"><p class="fa fa-youtube-square"></p></a>

            <a href="https://plus.google.com/112701833180299588644/posts" target="_blank"><p class="fa fa-google-plus-square"></p></a>
            </div>
        </nav>
    </div>
</header>