<div class="panel panel-danger hidden-sm hidden-xs">
    <div class="panel-heading bar-pupple">Easy as 1, 2 ,3...</div>
    <div class="panel-body">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="/images/step-1.gif" alt="...">
            </a>

            <div class="media-body">
                <p class="lead">Search</p>

                <p> Search for the type of product you are looking for.</p>
            </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="/images/step-2.gif" alt="...">
            </a>

            <div class="media-body">
                <p class="lead">Compare</p>

                <p> Compare the offers and choose which one is best for you.</p>
            </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="/images/step-3.gif" alt="...">
            </a>

            <div class="media-body">
                <p class="lead">Click</p>

                <p> Click on your chosen offer to visit the site.</p>
            </div>
        </div>
    </div>
</div>
<div class="panel hidden-sm hidden-xs">
    <div class="panel-body ">
        <img class="pull-right" src="/images/icon-blog-news.jpg">

        <p class="lead">Financial Blog</p>

        <p>Get the latest financial and economic news.</p>
        <a href="/blog/" class="btn btn-default">CLICK HERE</a>
    </div>
</div>
