<div class="col-md-12">
    <div class="row">
        <!--<div class="col-md-12">-->
        <!--<hr>-->
        <!--</div>-->
        <div class="col-md-12">
            <hr>

            <h2>Our Advisers Compare Quotes From The Following Lenders</h2>
            <div class="provider-logo-box">
                <div class="row">
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo1.png">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo2.png">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo3.png">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo4.png">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo5.png">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo6.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo7.png">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo8.png">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo9.png">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo10.png">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo11.png">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo12.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo13.png">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo14.png">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo15.png">
                    </div>
                    <div class="col-md-2 col-xs-4 hidden-xs hidden-sm">
                        <img class="img-responsive" src="/mortgages/images/logo16.png">
                    </div>
                    <div class="col-md-2 col-xs-4 hidden-xs hidden-sm">
                        <img class="img-responsive" src="/mortgages/images/logo17.png">
                    </div>
                    <div class="col-md-2 col-xs-4 hidden-xs hidden-sm">
                        <img class="img-responsive" src="/mortgages/images/logo18.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-4 ">
                        <img class="img-responsive" src="/mortgages/images/logo19.png">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <img class="img-responsive" src="/mortgages/images/logo20.png">
                    </div>
                    <div class="col-md-2 col-xs-4 ">
                        <img class="img-responsive" src="/mortgages/images/logo21.png">
                    </div>
                    <div class="col-md-2 col-xs-4 hidden-xs">
                        <img class="img-responsive" src="/mortgages/images/logo22.png">
                    </div>
                    <div class="col-md-2 col-xs-4 hidden-xs">
                        <img class="img-responsive" src="/mortgages/images/logo23.png">
                    </div>
                    <div class="col-md-2 col-xs-4 hidden-xs">
                        <img class="img-responsive" src="/mortgages/images/logo24.png">
                    </div>
                </div>
                <hr>
            </div>
        </div>

    </div>
</div>