
<br>
<div class="panel">
    <div class="panel-body row">
        <div class="col-md-12">
            <p class="lead">Calculators</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <p>Use the Money Advice Service (MAS) calculator to help see
                        what you can afford to pay each month. MAS is a free and
                        impartial advice service.</p>
                </div>
                <div class="col-md-4">
                    <img src="/images/icon-calculator.jpg" alt="mortgage calculator" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <a type="button" target="_blank" href="../calculators/mortgage-calculator.html" class="btn btn-primary form-apply">
                Calculate <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right "></i>
            </a>
        </div>
    </div>
</div>
