<!DOCTYPE html>
<html lang="en" data-ng-app="QC">
<head>
    <meta charset="utf-8">
    <title class='replace-seed-value'>Quiddi Compare | Search, Compare and Save Money</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Styles -->
    <link rel="stylesheet" href="libs/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 10]>
    <script type='text/javascript' src='libs/html5shiv/dist/html5shiv.min.js'></script>
    <script type='text/javascript' src='libs/respond/dest/respond.min.js'></script>
    <![endif]-->
    <!--<script type="text/javascript" src="/libs/xdomain/dist/0.6/xdomain.min.js"-->
            <!--slave="https://omgapi.quiddiportal.com/api/proxy"></script>-->

    <script>(function () {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
        }
        _fbq.push(['addPixelId', '984945428199774']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none"
                   src="https://www.facebook.com/tr?id=984945428199774&amp;ev=PixelInitialized"/></noscript>
</head>

<body>

<div class="container wrapper">

    <div id="header"></div>
    <div class="breadcrumb hidden-xs hidden-sm">
        You are here » <a href="/index.html" class="bc-active">Home</a> » <a href="/contact.html">Contact</a>
    </div>

    <section class="side-collapse-container">
        <div class="row main-centre ">
            <div class="col-md-12">
                <div class="jumbotron BG-purple">
                    <div class="row">
                        <div class="col-md-4 text">
                            <h1> UK's Top </h1>

                            <h1><strong>Comparison Website</strong></h1>

                            <h3> Search, Compare & Save Money with Quiddi Compare.</h3>

                        </div>
                        <div class="col-md-8 slider-image">
                            <img class="img-responsive pull-right hidden-sm hidden-xs"
                                 src="images/new-banners/contact-us-banner.jpg">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="BG-purple purple-Bar text-center">
                    <h2><strong>Contact Us</strong></h2>
                </div>
            </div>
        </div>

        <div class="row left-sidebar">
            <div class="col-md-12 right-sidebar">
                <div class="row">
                    <div class="col-md-12 hidden">
                        <p>Before completing the form, please make sure you wish to contact Quiddi Compare and not a
                            bank, credit card company, loan provider or any other financial institution.</p>

                        <p>Should you have an enquiry concerning the progress of your application, or are having
                            technical problems whilst using a partner's website, please get in touch with the company in
                            question so that you can resolve your problem.</p>
                    </div>
                    <div class="col-md-7 text-left contact-form">
                        <div ng-controller="ContactController" class="">
                            <form ng-submit="submit(contactform)" name="contactform" method="post"
                                  class="form-horizontal" role="form" novalidate>

                                <div class="form-group" ng-class="{}">
                                    <label for="inputQuery" class="col-lg-1 control-label input-lg"><span
                                            class="fa fa-question"></span>
                                    </label>

                                    <div class="col-lg-11">
                                        <select ng-model="formData.query" class="form-control input-lg" id="inputQuery">
                                            <option ng-repeat="query in querys" value="{{query}}" selected>{{ query }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group"
                                     ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                                    <label for="inputName" class="col-lg-1 control-label input-lg"><span
                                            class="fa fa-user">*</span></label>

                                    <div class="col-lg-11">
                                        <input ng-model="formData.name" type="text" class="form-control input-lg"
                                               id="inputName"
                                               name="inputName" placeholder="Your Name" required>
                                    </div>
                                </div>

                                <div class="form-group"
                                     ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                                    <label for="inputEmail" class="col-lg-1 control-label input-lg"><span
                                            class="fa fa-envelope-o">*</span></label>

                                    <div class="col-lg-11">
                                        <input ng-model="formData.email" type="email" class="form-control input-lg"
                                               id="inputEmail" name="inputEmail" placeholder="Your Email" required>
                                    </div>
                                </div>

                                <div class="form-group"
                                     ng-class="{ 'has-error': contactform.inputWebsite.$invalid && submitted }">
                                    <label for="inputWebsite" class="col-lg-1 control-label input-lg"><span
                                            class="fa fa-globe"></span></label>

                                    <div class="col-lg-11">
                                        <input ng-model="formData.website" type="text" class="form-control input-lg"
                                               id="inputWebsite" name="inputWebsite" placeholder="Your Website">
                                    </div>
                                </div>


                                <div class="form-group"
                                     ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                                    <label for="inputMessage" class="col-lg-1 control-label input-lg"><span
                                            class="fa fa-pencil">*</span></label>

                                    <div class="col-lg-11">
                                        <textarea ng-model="formData.message" class="form-control input-lg" rows="4"
                                                  id="inputMessage" name="inputMessage" placeholder="Your message..."
                                                  required></textarea>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-lg-offset-1 col-lg-11">
                                        <button type="submit" class="btn btn-warning"
                                                ng-disabled="submitButtonDisabled">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-11">
                                    <p class="alert " ng-class="result" style="padding: 15px; margin: 0;">
                                        {{resultMessage}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p>Before completing the form, please make sure you wish to contact Quiddi Compare and not a
                            bank, credit card company, loan provider or any other financial institution.</p>

                        <p>Should you have an enquiry concerning the progress of your application, or are having
                            technical problems whilst using a partner's website, please get in touch with the company in
                            question so that you can resolve your problem.</p>

                        <h2>+44(0)1244 676732</h2>

                        <p>Opening hours Monday to Friday 9.30am to 5pm.</p>

                        <h2>Email us</h2>

                        <p>Partner, Lender &amp; Enquiries: <br> <a href="mailto:info@quiddicompare.co.uk">info@quiddicompare.co.uk</a>
                        </p>

                        <h2>Write to us</h2>

                        <p> Quiddi Hub Limited.<br>
                            <span class="dynamic-address-quiddihub"></span>
                        </p>

                        <h2>Our Licences</h2>

                        <p>Company Number: <strong>07475476</strong> <br>Interim Permission Licence/Number: <strong>642188</strong>
                            <br>Data Protection: <strong>Z2539077</strong></p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Map section -->
    <br>
    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1241.5037021854002!2d-0.14082784047546815!3d51.51308015374082!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604d562783a35%3A0x180c0aa61828938a!2s207+Regent+St%2C+Mayfair%2C+London+W1B+3HH!5e0!3m2!1sen!2suk!4v1421691468159"-->
            <!--width="100%" height="272" frameborder="0" style="border:0"></iframe>-->
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="272" src="https://maps.google.com/maps?hl=en&q=44-46 Windsor Road, Slough, SL1 2EJ, UK&ie=UTF8&t=roadmap&z=16&iwloc=B&output=embed"></iframe>
    <!-- End of Map section -->
    <footer>
        <div id="footer"></div>
    </footer>
</div>

<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="js/sitewide.js"></script>

<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-resource/angular-resource.min.js"></script>
<script src="libs/angulartics/src/angulartics.js"></script>
<script src="libs/angulartics/src/angulartics-ga.js"></script>
<script src="app/QC.js"></script>
<script src="app/services/Product.js"></script>
<!--<script src="app/services/Contact.js"></script>-->
<script src="app/filters/nl2br.js"></script>
<script src="app/directives/productList.js"></script>
<script src="//lookup.identi-k.it/DynamicContentLookupAPI/dynamicContentLookup.js"></script>

<!—- Google Analytics Script -->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27686131-1']);
    _gaq.push(['_setDomainName', 'quiddicompare.co.uk']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>

<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 970546039;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
             src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/970546039/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<!-- SessionCam Client Integration v6.0 -->
<script type="text/javascript">
    //<![CDATA[
    var scRec = document.createElement('SCRIPT');
    scRec.type = 'text/javascript';
    scRec.src = "//d2oh4tlt9mrke9.cloudfront.net/Record/js/sessioncam.recorder.js";
    document.getElementsByTagName('head')[0].appendChild(scRec);
    //]]>
</script>
<!-- End SessionCam -->

</body>
</html>