<!DOCTYPE html>
<html lang="en" data-ng-app="QC">
<head>
    <meta charset="utf-8">
    <title class='replace-seed-value'>Top 20 Short Term & Payday Loans - Search & Compare The Best Lenders</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="Payday Loans – Quiddi Compare">
    <meta name="description"
          content="Looking for payday loans? Compare the rates from the best payday loan lenders in the UK and borrow up to £1,000 today!">
    <meta name="keywords" content="Payday Loans, Compare Payday Loans, Payday Loan Lenders">


    <!-- Styles -->
    <link rel="stylesheet" href="./libs/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/table.css">
    <link rel="stylesheet" href="css/main-new.css">
    <!--<link rel="stylesheet" href="./css/form.css">-->


    <!--[if lt IE 10]>
    <script type="text/javascript" src="/libs/html5shiv/dist/html5shiv.min.js"></script>
    <script type="text/javascript" src="/libs/respond/dest/respond.min.js"></script>
    <script type="text/javascript" src="/libs/xdomain/dist/0.6/xdomain.js" debug="true"
            slave="https://omgapi.quiddiportal.com/api/proxy"></script>
    <![endif]-->
    <script>(function () {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
        }
        _fbq.push(['addPixelId', '984945428199774']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none"
                   src="https://www.facebook.com/tr?id=984945428199774&amp;ev=PixelInitialized"/></noscript>

</head>

<body>

<div class="container">
    <div id="header"></div>
    <div class="breadcrumb hidden-xs hidden-sm">
        You are here » <a href="/index.html" class="bc-active">Home</a> » <a href="/short-term-loans.html">Short Term
        Loans</a>
    </div>
</div>
<div class="container-fluid higlight-banner">
    <section class="container">
        <div class="row main-centre">
            <div class="col-md-12">
                <div class="jumbotron BG-purple content-area">
                    <div class="row">
                        <div class="col-md-4 text">
                            <h1> Compare</h1>

                            <h1><strong><span class='replace-seed-value'>Short Term Loans</span></strong></h1>

                            <h3>Secured and Unsecured Loans from £50 up to £1000.</h3>
                            <img class="hidden" src="images/5-star-large.png">
                            <a href="/search/payday-loans.html" analytics-on analytics-event="Smart Search" analytics-category="Smart Search" analytics-label="payday-banner" class="cleversearch-btn" style="margin-left: 0"></a>

                        </div>
                        <div class="col-md-8 slider-image">
                            <img class="img-responsive pull-right hidden-sm hidden-xs"
                                 src="images/new-banners/banner-homepage-5.png" alt="short term loans">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row hidden-xs hidden-sm">
            <div class="col-md-12">
                <div class="BG-purple purple-Bar text-center">
                    <h2>Compare <strong><span class='replace-seed-value'>Short Term Loans</span></strong></h2>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-12 right-sidebar">
            <div class="row center-table">
                <div class="col-md-12 clever-search hidden">
                    <a href="/search/payday-loans.html" analytics-on analytics-event="Smart Search" analytics-category="Smart Search" analytics-label="payday-banner"><img class="img-responsive clever-search-banner hidden-xs hidden-sm" src="/images/clever-search-elements-desktop.png"></a>
                    <a href="/search/payday-loans.html" analytics-on analytics-event="Smart Search" analytics-category="Smart Search" analytics-label="payday-banner"><img class="img-responsive clever-search-banner hidden-md hidden-lg" src="/images/clever-search-elements-mobile.png"></a>
                    <h2 class="text-center"><strong>TRY OUR CLEVER SEARCH TOOL FOR BEST RESULT</strong></h2>
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <a href="/search/payday-loans.html" analytics-on analytics-event="Smart Search" analytics-category="Smart Search" analytics-label="payday-banner" class="cleversearch-btn"></a>
                        </div>
                        <div class="col-md-6 col-sm-6 hidden-xs hidden-sm">
                            <ul>
                                <li><strong>Instant Decision</strong></li>
                                <li><strong>One Application</strong></li>
                                <li><strong>Fast and Secure</strong></li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="col-md-12">
                    <br>
                    <div class="alert alert-danger" role="alert">
                        Warning: Late repayment can cause you serious money problems. For help, go to
                        <a href="https://www.moneyadviceservice.org.uk/" class="alert-link">www.moneyadviceservice.org.uk</a>.
                    </div>

                </div>
                <!--<div class="col-md-12">-->
                <!--<div class="" role="">-->
                <!--<div class="row">-->
                <!--<div class="col-md-4"></div>-->
                <!--<div class="col-md-2 text-right">-->
                <!--&lt;!&ndash;<label>&ndash;&gt;-->
                <!--&lt;!&ndash;<h4>Order table by:</h4>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--<label>-->
                <!--<h4>Sort by:</h4>-->
                <!--</label>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                <!--<select ng-model="listOrder" class="form-control">-->
                <!--<option value="representativeApr">Representative APR – Lowest</option>-->
                <!--<option value="maxLoanAmount">Max Loan Amount – Highest</option>-->
                <!--<option value="maxTerm">Max Term – Longest</option>-->
                <!--</select>-->
                <!--&lt;!&ndash;<div class=" btn-group btn-group-justified">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="radio-inline">&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="btn btn-default">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="radio" ng-model="listOrder" value="representativeApr"> Lowest Representative APR&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class=" radio-inline">&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="btn btn-default">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="radio" ng-model="listOrder" value="maxLoanAmount"> Highest Maximum Loan Amount&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class=" radio-inline">&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="btn btn-default">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="radio" ng-model="listOrder" value="maxTerm"> Highest Maximum Term&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->
                <!--<br>-->
                <!--</div>-->
                <!--</div>-->
                <div class="col-md-12">
                    <div product-list="Short Term Loans"></div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <span class='st_facebook_hcount' displayText='Facebook'></span>
                            <span class='st_twitter_hcount' displayText='Tweet'></span>
                            <span class='st_googleplus_hcount' displayText='Google +'></span>
                            <span class='st_email_hcount' displayText='Email'></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <h2> What are Short Term Loans?</h2>

                    <p>Short Term Loans enable you to borrow a small amount of money to tide you over for a short
                        term, usually until you receive your next pay cheque. They are a hassle free way to get the
                        cash you require, taking the pressure off a temporary financial crisis.</p>

                    <h2> Short Term Loans can be a swift solution</h2>

                    <p>If you find yourself in urgent need of money but the coffers are empty and you don’t have a
                        credit card or overdraft to fall back on you may consider the option of Short Term Loans.
                        You are expected to pay back any money you borrow within a few weeks. The amount of money
                        you can borrow is modest, too. Most lenders won’t offer more than £1,000 and usually much
                        less, especially for first-time customers.</p>

                    <p>One of the attractions for many people of Short Term Loans is that the lending companies
                        offer to pay the required money into their accounts within one working day, some even offer
                        to do so within an hour (after approval). The request can be made and processed online.</p>

                    <p>Imagine if your car broke down and you knew you’d be unable to get to work to earn your pay
                        without it. If you had no access to any other funds, you might consider a short term
                        transaction like this, especially if every day without your car lost you income. Without the
                        extra money your shortfall would only get worse. This is one example where Short Term Loans
                        could prove a life-saver.</p>

                    <hr>
                    <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-6094535805959968";
                    /* quiddicompare.co.uk_728x90 */
                    google_ad_slot = "3581416463/8929237103";
                    google_ad_width = 728;
                    google_ad_height = 90;
                    //-->
                    </script>
                    <script type="text/javascript"
                            src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>

                    <h2>It pays to be careful</h2>

                    <p>In effect, under the Short Term Loans system you are borrowing from yourself. You are giving
                        yourself an advance on your own salary. It is essential you feel confident you will be able
                        to live comfortably on your next pay cheque, minus the amount you have already borrowed from
                        it. If you find that paying back the money means you end up running short again, you may get
                        into a situation in which you are constantly firefighting, borrowing month after month and
                        losing more and more money.</p>

                    <p>Because the transactions are small and run for such a short length of time, the lenders APR's
                        seem very high. To take a typical example of £100 borrowed for up to 28 days, the borrower
                        would have to pay back a total of £125. This represents an interest rate of 1,737%.</p>

                    <p>If you can’t repay your short term loan in time, it may be possible to ‘roll it over’ so that
                        the loan is extended. In this scenario, however, the interest would keep accumulating and a
                        small loan could become a major headache, spiralling out of control.</p>

                    <p>Only borrow the money if you’re sure you can manage the shortfall in your next payment
                        cycle.</p>

                    <h2>Compare short term loans the easy way!</h2>

                    <p>We have created a simple, yet informative comparison table of products, offers and services
                        which makes it easy for you to choose the right provider for you.</p>

                </div>
                <div class="col-md-6">

                    <h2> What are Short Term Loans?</h2>

                    <p>Short Term Loans enable you to borrow a small amount of money to tide you over for a short
                        term, usually until you receive your next pay cheque. They are a hassle free way to get the
                        cash you require, taking the pressure off a temporary financial crisis.</p>

                    <h2> Short Term Loans can be a swift solution</h2>

                    <p>If you find yourself in urgent need of money but the coffers are empty and you don’t have a
                        credit card or overdraft to fall back on you may consider the option of Short Term Loans.
                        You are expected to pay back any money you borrow within a few weeks. The amount of money
                        you can borrow is modest, too. Most lenders won’t offer more than £1,000 and usually much
                        less, especially for first-time customers.</p>

                    <p>One of the attractions for many people of Short Term Loans is that the lending companies
                        offer to pay the required money into their accounts within one working day, some even offer
                        to do so within an hour (after approval). The request can be made and processed online.</p>

                    <p>Imagine if your car broke down and you knew you’d be unable to get to work to earn your pay
                        without it. If you had no access to any other funds, you might consider a short term
                        transaction like this, especially if every day without your car lost you income. Without the
                        extra money your shortfall would only get worse. This is one example where Short Term Loans
                        could prove a life-saver.</p>

                    <hr>
                    <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-6094535805959968";
                    /* quiddicompare.co.uk_728x90 */
                    google_ad_slot = "3581416463/8929237103";
                    google_ad_width = 728;
                    google_ad_height = 90;
                    //-->
                    </script>
                    <script type="text/javascript"
                            src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>

                    <h2>It pays to be careful</h2>

                    <p>In effect, under the Short Term Loans system you are borrowing from yourself. You are giving
                        yourself an advance on your own salary. It is essential you feel confident you will be able
                        to live comfortably on your next pay cheque, minus the amount you have already borrowed from
                        it. If you find that paying back the money means you end up running short again, you may get
                        into a situation in which you are constantly firefighting, borrowing month after month and
                        losing more and more money.</p>

                    <p>Because the transactions are small and run for such a short length of time, the lenders APR's
                        seem very high. To take a typical example of £100 borrowed for up to 28 days, the borrower
                        would have to pay back a total of £125. This represents an interest rate of 1,737%.</p>

                    <p>If you can’t repay your short term loan in time, it may be possible to ‘roll it over’ so that
                        the loan is extended. In this scenario, however, the interest would keep accumulating and a
                        small loan could become a major headache, spiralling out of control.</p>

                    <p>Only borrow the money if you’re sure you can manage the shortfall in your next payment
                        cycle.</p>

                    <h2>Compare short term loans the easy way!</h2>

                    <p>We have created a simple, yet informative comparison table of products, offers and services
                        which makes it easy for you to choose the right provider for you.</p>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-pull-9 left-sidebar hidden">
            <div id="leftsiderbar"></div>
            <div class="panel panel-danger text-center">
                <div class="panel-body ">

                    <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-6094535805959968";
                    /* quiddicompare.co.uk_160x600 */
                    google_ad_slot = "3581416463/7452529223";
                    google_ad_width = 160;
                    google_ad_height = 600;
                    //-->
                    </script>
                    <script type="text/javascript"
                            src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>

            </div>
        </div>
    </div>
    <footer>
        <div id="footer"></div>
    </footer>
</div>

<!--<div id="lm_root_10663" lm-height="207px" lm-width="800px" lm-template="0" lm-scrollTo="0" lm-timedelay="10000" lm-animation="rubberBand"></div>-->
<!--<script>-->
    <!--if(!lmtype)var lmtype=[];lmtype['10663_onload']=1;(function(d,s,b){var s=d.createElement(s);s.src='//leadmonster.io/a/lm-1.php?cd=10663&ck=100&bg=1&m=lm&ap=0';-->
        <!--d.getElementsByTagName(b)[0].appendChild(s);}(document,'script','body'));-->
<!--</script>-->

<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-resource/angular-resource.min.js"></script>
<script src="libs/angulartics/src/angulartics.js"></script>
<script src="libs/angulartics/src/angulartics-ga.js"></script>

<script src="libs/raven-js/dist/raven.js"></script>
<script>
    Raven.config('https://1afb1d3a2d7141519c638708c53ed4e2@monitor.quiddiportal.com/13', {
        // pass along the version of your application
        // release: '1.0.0',

        // we highly recommend restricting exceptions to a domain in order to filter out clutter
//        whitelistUrls: ['example.com/scripts/']

    }).install();
    Raven.isSetup();

    //    Raven.wrap({logger: "formApp"}, function(){ });
    //    Raven.captureMessage('Broken!', {tags: { key: "value" }});
    //    Raven.captureException(e, {extra: { foo: "bar" }})
</script>
<script src="js/main.js"></script>
<script src="js/sitewide.js"></script>

<script src="app/QC.js"></script>
<script src="app/services/Product.js"></script>
<script src="app/filters/nl2br.js"></script>
<script src="app/directives/productList.js"></script>
<script src="//lookup.identi-k.it/DynamicContentLookupAPI/dynamicContentLookup.js"></script>

<script src="js/parallax-plugin.js"></script>

<script>$('.divider').parallax({ speed : 0.80});</script>


<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 970546039;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
             src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/970546039/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<!-- SessionCam Client Integration v6.0 -->
<script type="text/javascript">
    //<![CDATA[
    var scRec = document.createElement('SCRIPT');
    scRec.type = 'text/javascript';
    scRec.src = "//d2oh4tlt9mrke9.cloudfront.net/Record/js/sessioncam.recorder.js";
    document.getElementsByTagName('head')[0].appendChild(scRec);
    //]]>
</script>
<!-- End SessionCam -->


</body>
</html>